.header {
  .title {
    &:hover {
      cursor: pointer;
    }
  }
  .sign-out {
    min-width: 240px;
    text-align: right;
  }

  .ant-page-header-title-view-extra {
    top: 4px;
    font-size: 33px;
  }

  .header-image {
    padding-right: 15px;
    margin-right: 15px;
    border-right: 2px solid black;
  }
}
