@import "../colors.scss";

.image-controls {
  background: $sky;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.clear-filter-btn {
  margin-left: 50px;
}
