@import "../colors.scss";

.image-container {
  margin: 30px auto;
  max-width: 90%;
  border: 6px solid $sky;
  padding: 0px;
}

.image-row {
  display: inline-flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  min-width: 90%;
  margin: 16px;
}

.image-wrapper {
  flex-basis: 400px;
  padding: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image {
  max-width: 400px;
  max-height: 400px;
}
