#login {
  width: 500px;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%,-50%);
}
#login .login-form {
  max-width: 300px;
}
#login .login-form-forgot {
  float: right;
}
#login .login-form-button {
  width: 100%;
}
