.inspector {
  text-align: center;
  max-height: 100vh;

  ul {
    text-align: left;
    font-weight: bold;
    .tag-desc {
      text-transform: capitalize;
    }
  }
  button {
    margin: 0px 8px;
  }
  .message-box {
    width: 650px;
  }
}

.selected-image {
  max-width: 100%;
  max-height: 425px;
}

.filter-list {
  .list-item {
    &:hover {
      background: #1890ff;
      color: white;
      cursor: pointer;
    }
  }
}
